# Load Karate Club data

In [1]:
import pandas as pd #CSV file handler
df_edge_list = pd.read_csv('EdgeList.csv')
df_node_attributes = pd.read_csv('NodeAttributes.csv')

## Construct the network in `NetworkX`

### Given complete edge info from a spreadsheet, we shall generate a Graph object from edge_list 
Note, there are other ways of generating the graph. It takes one line with a fully populated edge_list.

In [2]:
import networkx as nx
G = nx.Graph()

In [3]:
df_edge_list.head()

  Subject1 NamedFriend
0      ID2         ID1
1      ID2         ID3
2      ID2         ID4
3      ID2         ID8
4      ID2        ID14

In [4]:
edge_list = []
for enum, row in df_edge_list.iterrows():
    # enum will take the index value
    # row will be a "numpy series" with column names
    elem1 = row['Subject1']
    elem2 = row['NamedFriend']
    edge_list.append(
        [elem1, elem2]
    )

In [5]:
# basic add nodes
G.add_edges_from(edge_list)

### Add Node attributes
* Note, use `G.nodes()` to get the full list of nodes,
* And, use `G.node['NodeLabel']` to directly access the node
    * With `G.node['NodeLabel']['attribute_name']`, one can directly assign values to `attribute_name` for the node.

In [6]:
# First, here are all our nodes
G.nodes()

['ID2',
 'ID1',
 'ID3',
 'ID4',
 'ID8',
 'ID14',
 'ID18',
 'ID20',
 'ID22',
 'ID31',
 'ID5',
 'ID6',
 'ID7',
 'ID9',
 'ID11',
 'ID12',
 'ID13',
 'ID32',
 'ID10',
 'ID28',
 'ID29',
 'ID33',
 'ID17',
 'ID34',
 'ID26',
 'ID24',
 'ID25',
 'ID30',
 'ID27',
 'ID15',
 'ID16',
 'ID19',
 'ID21',
 'ID23']

In [7]:
# To add "age" attribute to a node, we need to pull for the node first
G.node['ID2']['Age'] = 1

In [8]:
G.node['ID2']

{'Age': 1}

In [9]:
# Now, we can assign node-attributes for all nodes:
df_node_attributes.head() # There are two attributes for each node

    ID  Age  RandAttribute
0  ID2   22       1.232323
1  ID1   77       1.787879
2  ID3   13       1.141414
3  ID4   37       1.383838
4  ID5   20       1.212121

In [10]:
for enum, row in df_node_attributes.iterrows():
    node_id = row['ID']
    age = row['Age']
    rand_attr = row['RandAttribute']
    G.node[node_id]['Age'] = age
    G.node[node_id]['RandAttribute'] = rand_attr

In [11]:
G.node['ID2']

{'Age': 22, 'RandAttribute': 1.2323232323232325}

## Calculate the average of my friends' age

### To start with, who are my friends?
For additional sytnax to get at neighbor-list, see: [networkx.Graph.neighbors â€” NetworkX](https://networkx.org/documentation/latest/reference/classes/generated/networkx.Graph.neighbors.html)

In [18]:
# By directly indexing by  
G.neighbors('ID2')

['ID1', 'ID3', 'ID4', 'ID8', 'ID14', 'ID18', 'ID20', 'ID22', 'ID31']

### Then, calculate the average of the average Age of my friends

In [19]:
neighbor_ages = []
for neighborID in G.neighbors('ID2'):
    neighbor_ages.append(
        G.node[neighborID]['Age']
    )

    
import numpy as np
np.mean(neighbor_ages)

43.55555555555556

### Populate the mean age for all nodes

In [21]:
df_node_attributes.columns

Index(['ID', 'Age', 'RandAttribute'], dtype='object')

In [23]:
import numpy as np

# This combines NetowrkX with Pandas
def calc_neighbor_age(row, G):
    # Note, G is the graph we have generated previously
    # We use G and NetworkX to collect neighbors
    ego_id = row['ID']
    neighbor_list = G.neighbors(ego_id)
    neighbor_ages = []
    for neighborID in neighbor_list:
        neighbor_ages.append(
            G.node[neighborID]['Age']
        )
    return np.mean(neighbor_ages)
    
df_node_attributes['avg_friend_age'] = df_node_attributes.apply(lambda row : calc_neighbor_age(row, G), axis=1) #axis=1 is necessary here.

In [24]:
df_node_attributes

      ID  Age  RandAttribute  avg_friend_age
0    ID2   22       1.232323       43.555556
1    ID1   77       1.787879       40.812500
2    ID3   13       1.141414       48.800000
3    ID4   37       1.383838       42.000000
4    ID5   20       1.212121       56.666667
5    ID6   68       1.696970       56.000000
6    ID7   62       1.636364       54.750000
7    ID8   65       1.666667       37.250000
8    ID9   88       1.898990       46.800000
9   ID10   53       1.545455       52.500000
10  ID11   31       1.323232       55.000000
11  ID12   17       1.181818       77.000000
12  ID13   67       1.686869       57.000000
13  ID14    8       1.090909       48.200000
14  ID17   54       1.555556       65.000000
15  ID18   60       1.616162       49.500000
16  ID20   82       1.838384       63.666667
17  ID22    5       1.060606       49.500000
18  ID26   94       1.959596       36.333333
19  ID24   62       1.636364       74.000000
20  ID25   39       1.404040       66.333333
21  ID28   97       1.989899       51.500000
22  ID29   34       1.353535       37.666667
23  ID30   80       1.818182       44.750000
24  ID27   18       1.191919       86.000000
25  ID31   45       1.464646       52.250000
26  ID32    8       1.090909       57.166667
27  ID33    7       1.080808       51.416667
28  ID15    8       1.090909       49.500000
29  ID16   88       1.898990       49.500000
30  ID19   74       1.757576       49.500000
31  ID21    6       1.070707       49.500000
32  ID23   53       1.545455       49.500000
33  ID34   92       1.939394       47.705882